<ul class="header__button-wrap">
  <li class="header__button">
    <button type="button" class="button__primary-light">watched</button>
  </li>
  <li class="header__button">
    <button type="button" class="button__primary-accent">queue</button>
  </li>
</ul>

<ul class="modal__button-wrap">
  <li class="modal__button">
    <button type="button" class="button__secondary">watched</button>
  </li>
  <li class="modal__button">
    <button type="button" class="button__secondary">queue</button>
  </li>
</ul>
